/HW1/hello_world.X/nbproject/private/
/HW1/hello_world.X/build/default/
/HW1/hello_world.X/dist/default/
/HW4/HW4.X/nbproject/private/
/HW4/HW4.X/build/default/
/HW4/HW4.X/dist/default/
/HW5/HW5_I2C.X/nbproject/private/
/HW5/HW5_I2C.X/build/default/
/HW5/HW5_I2C.X/dist/default/
/HW6/HW6_LCD.X/nbproject/private/
/HW6/HW6_LCD.X/build/default/
/HW6/HW6_LCD.X/dist/default/
/HW6/HW&7_IMU/nbproject/private/
/HW7/HW&7_IMU/nbproject/private/
/HW7/HW&7_IMU/build/default/
/HW7/HW&7_IMU/dist/default/
/HW8/HW8_Harmony/firmware/HW8_Harmony.X/nbproject/private/
/HW8/HW8_Harmony/firmware/HW8_Harmony.X/build/default/
/HW8/HW8_Harmony/firmware/HW8_Harmony.X/dist/default/
/HW9/HW9_CDC/firmware/HW9_CDC.X/nbproject/private/
/HW9/HW9_CDC/firmware/HW9_CDC.X/build/default/
/HW9/HW9_CDC/firmware/HW9_CDC.X/dist/default/