/HW1/hello_world.X/nbproject/private/
/HW1/hello_world.X/build/default/
/HW1/hello_world.X/dist/default/
/HW4/HW4.X/nbproject/private/
/HW4/HW4.X/build/default/
/HW4/HW4.X/dist/default/
/HW5/HW5_I2C.X/nbproject/private/
/HW5/HW5_I2C.X/build/default/
/HW5/HW5_I2C.X/dist/default/